In [ ]:
import pandas as pd

In [ ]:
df_dcc = pd.read_csv("/work/base.csv")
df_mei = pd.read_csv("/work/mei_final.csv")

In [ ]:
df_dcc.head()

,Unnamed: 0,cnpj_base_x,cd_situacao_cadastral,dt_situacao_cadastral,dt_inicio_atividade,cd_cnae_principal,cd_cnae_secundario,uf,cd_municipio,porte_empresa,Data_Situação_Cadastral,Data_Início_Atividade,Tempo_De_vida[anos],Setor,Empresa uma atividade,Empresa executa até 2 atividades,Empresa executa mais de 2 atividades,Total de atividades executadas
0,0,5703307,0,20130703,20090901.0,4752100,"4713002,4757100",SP,7107,1,2013,2009,4,COMÉRCIO,1,1,0,2
1,1,9477554,0,20181016,20080331.0,9602502,NaN,SP,7107,1,2018,2008,10,OUTRAS,0,0,0,0
2,2,9387387,0,20140325,20090908.0,4649499,"4641903,4642701,4643502,4647801,4649410",SP,7107,1,2014,2009,5,COMÉRCIO,1,1,1,3
3,3,9685392,0,20211123,20080603.0,4712100,"3329501,4721102,4742300,4744003,4744099,475470...",SP,6321,1,2021,2008,13,COMÉRCIO,1,1,1,3
4,4,9499019,1,20080402,20080402.0,8230001,"7020400,8599604,7490104",SP,7107,3,2008,2008,0,ATIVIDADES ADMINISTRATIVAS,1,1,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96957,97110,19093713,1,20131018,20131018.0,8599605,NaN,RJ,6001,1,2013,2013,0,EDUCACAO,0,0,0,0
96958,97111,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1
96959,97112,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1
96960,97113,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,2013,2013,0,OUTRAS,1,1,1,3
96961,97114,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,2013,2013,0,OUTRAS,1,1,1,3

In [ ]:
df_mei.head()

          Unnamed: 0  cnpj_base  opcao_mei_final
0                  0       1035                1
1                  1       1414                1
2                  2       1477                1
3                  3       1672                1
4                  4       2317                1
...              ...        ...              ...
13301811    13301811   98417678                1
13301812    13301812   98512254                1
13301813    13301813   98515695                1
13301814    13301814   98590649                1
13301815    13301815   98595051                1

[13301816 rows x 3 columns]

In [ ]:
df_final = pd.merge(left = df_dcc, right = df_mei, how = "left", left_on ="cnpj_base_x", right_on="cnpj_base")

In [ ]:
df_final

,Unnamed: 0_x,cnpj_base_x,cd_situacao_cadastral,dt_situacao_cadastral,dt_inicio_atividade,cd_cnae_principal,cd_cnae_secundario,uf,cd_municipio,porte_empresa,...,Data_Início_Atividade,Tempo_De_vida[anos],Setor,Empresa uma atividade,Empresa executa até 2 atividades,Empresa executa mais de 2 atividades,Total de atividades executadas,Unnamed: 0_y,cnpj_base,opcao_mei_final
0,0,5703307,0,20130703,20090901.0,4752100,"4713002,4757100",SP,7107,1,...,2009,4,COMÉRCIO,1,1,0,2,NaN,NaN,NaN
1,1,9477554,0,20181016,20080331.0,9602502,NaN,SP,7107,1,...,2008,10,OUTRAS,0,0,0,0,NaN,NaN,NaN
2,2,9387387,0,20140325,20090908.0,4649499,"4641903,4642701,4643502,4647801,4649410",SP,7107,1,...,2009,5,COMÉRCIO,1,1,1,3,NaN,NaN,NaN
3,3,9685392,0,20211123,20080603.0,4712100,"3329501,4721102,4742300,4744003,4744099,475470...",SP,6321,1,...,2008,13,COMÉRCIO,1,1,1,3,NaN,NaN,NaN
4,4,9499019,1,20080402,20080402.0,8230001,"7020400,8599604,7490104",SP,7107,3,...,2008,0,ATIVIDADES ADMINISTRATIVAS,1,1,1,3,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96957,97110,19093713,1,20131018,20131018.0,8599605,NaN,RJ,6001,1,...,2013,0,EDUCACAO,0,0,0,0,1423725.0,19093713.0,1.0
96958,97111,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,...,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,NaN,NaN,NaN
96959,97112,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,...,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,NaN,NaN,NaN
96960,97113,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,...,2013,0,OUTRAS,1,1,1,3,NaN,NaN,NaN
96961,97114,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,...,2013,0,OUTRAS,1,1,1,3,NaN,NaN,NaN

In [ ]:
df_final["opcao_mei_final"] = df_final["opcao_mei_final"].fillna(0)

In [ ]:
df_final

,Unnamed: 0_x,cnpj_base_x,cd_situacao_cadastral,dt_situacao_cadastral,dt_inicio_atividade,cd_cnae_principal,cd_cnae_secundario,uf,cd_municipio,porte_empresa,...,Data_Início_Atividade,Tempo_De_vida[anos],Setor,Empresa uma atividade,Empresa executa até 2 atividades,Empresa executa mais de 2 atividades,Total de atividades executadas,Unnamed: 0_y,cnpj_base,opcao_mei_final
0,0,5703307,0,20130703,20090901.0,4752100,"4713002,4757100",SP,7107,1,...,2009,4,COMÉRCIO,1,1,0,2,NaN,NaN,0.0
1,1,9477554,0,20181016,20080331.0,9602502,NaN,SP,7107,1,...,2008,10,OUTRAS,0,0,0,0,NaN,NaN,0.0
2,2,9387387,0,20140325,20090908.0,4649499,"4641903,4642701,4643502,4647801,4649410",SP,7107,1,...,2009,5,COMÉRCIO,1,1,1,3,NaN,NaN,0.0
3,3,9685392,0,20211123,20080603.0,4712100,"3329501,4721102,4742300,4744003,4744099,475470...",SP,6321,1,...,2008,13,COMÉRCIO,1,1,1,3,NaN,NaN,0.0
4,4,9499019,1,20080402,20080402.0,8230001,"7020400,8599604,7490104",SP,7107,3,...,2008,0,ATIVIDADES ADMINISTRATIVAS,1,1,1,3,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96957,97110,19093713,1,20131018,20131018.0,8599605,NaN,RJ,6001,1,...,2013,0,EDUCACAO,0,0,0,0,1423725.0,19093713.0,1.0
96958,97111,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,...,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,NaN,NaN,0.0
96959,97112,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,...,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,NaN,NaN,0.0
96960,97113,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,...,2013,0,OUTRAS,1,1,1,3,NaN,NaN,0.0
96961,97114,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,...,2013,0,OUTRAS,1,1,1,3,NaN,NaN,0.0

In [ ]:
df_final = df_final.drop(columns=["Unnamed: 0_y", "cnpj_base"])

KeyError: "['Unnamed: 0_y' 'cnpj_base'] not found in axis"

In [ ]:
df_final = df_final.drop(columns=["Unnamed: 0_x"])

In [ ]:
df_final

,cnpj_base_x,cd_situacao_cadastral,dt_situacao_cadastral,dt_inicio_atividade,cd_cnae_principal,cd_cnae_secundario,uf,cd_municipio,porte_empresa,Data_Situação_Cadastral,Data_Início_Atividade,Tempo_De_vida[anos],Setor,Empresa uma atividade,Empresa executa até 2 atividades,Empresa executa mais de 2 atividades,Total de atividades executadas,opcao_mei_final
0,5703307,0,20130703,20090901.0,4752100,"4713002,4757100",SP,7107,1,2013,2009,4,COMÉRCIO,1,1,0,2,0.0
1,9477554,0,20181016,20080331.0,9602502,NaN,SP,7107,1,2018,2008,10,OUTRAS,0,0,0,0,0.0
2,9387387,0,20140325,20090908.0,4649499,"4641903,4642701,4643502,4647801,4649410",SP,7107,1,2014,2009,5,COMÉRCIO,1,1,1,3,0.0
3,9685392,0,20211123,20080603.0,4712100,"3329501,4721102,4742300,4744003,4744099,475470...",SP,6321,1,2021,2008,13,COMÉRCIO,1,1,1,3,0.0
4,9499019,1,20080402,20080402.0,8230001,"7020400,8599604,7490104",SP,7107,3,2008,2008,0,ATIVIDADES ADMINISTRATIVAS,1,1,1,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96957,19093713,1,20131018,20131018.0,8599605,NaN,RJ,6001,1,2013,2013,0,EDUCACAO,0,0,0,0,1.0
96958,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,0.0
96959,19093760,0,20180201,20131018.0,8230002,8230001,SP,7107,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,0.0
96960,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,2013,2013,0,OUTRAS,1,1,1,3,0.0
96961,19093797,1,20131018,20131018.0,9602502,"7739099,4729699,4772500",SP,6411,1,2013,2013,0,OUTRAS,1,1,1,3,0.0

In [ ]:
df_final = df_final.drop(columns=["cd_cnae_principal", "cd_cnae_secundario", "cd_municipio"])

In [ ]:
df_final

,cnpj_base_x,cd_situacao_cadastral,dt_situacao_cadastral,dt_inicio_atividade,uf,porte_empresa,Data_Situação_Cadastral,Data_Início_Atividade,Tempo_De_vida[anos],Setor,Empresa uma atividade,Empresa executa até 2 atividades,Empresa executa mais de 2 atividades,Total de atividades executadas,opcao_mei_final
0,5703307,0,20130703,20090901.0,SP,1,2013,2009,4,COMÉRCIO,1,1,0,2,0.0
1,9477554,0,20181016,20080331.0,SP,1,2018,2008,10,OUTRAS,0,0,0,0,0.0
2,9387387,0,20140325,20090908.0,SP,1,2014,2009,5,COMÉRCIO,1,1,1,3,0.0
3,9685392,0,20211123,20080603.0,SP,1,2021,2008,13,COMÉRCIO,1,1,1,3,0.0
4,9499019,1,20080402,20080402.0,SP,3,2008,2008,0,ATIVIDADES ADMINISTRATIVAS,1,1,1,3,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96957,19093713,1,20131018,20131018.0,RJ,1,2013,2013,0,EDUCACAO,0,0,0,0,1.0
96958,19093760,0,20180201,20131018.0,SP,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,0.0
96959,19093760,0,20180201,20131018.0,SP,1,2018,2013,5,ATIVIDADES ADMINISTRATIVAS,1,0,0,1,0.0
96960,19093797,1,20131018,20131018.0,SP,1,2013,2013,0,OUTRAS,1,1,1,3,0.0
96961,19093797,1,20131018,20131018.0,SP,1,2013,2013,0,OUTRAS,1,1,1,3,0.0

In [ ]:
df_final.to_csv("/work/BASE_FINAL.csv")

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=f987927e-68d4-4aee-bd26-129b04c252b5' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>